<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="first_name">First Name</label>
        <input id="first_name" name="first_name" type="text" placeholder="Enter your first name" required />
    
        <label for="last_name">Last Name</label>
        <input id="last_name" name="last_name" type="text" placeholder="Enter your last name" required />
    
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="Enter your email" required />
    
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Enter your password" required />
        
        <label for="confirm_password">Password</label>
        <input id="confirm_password" name="confirm_password" type="password" placeholder="Re-enter your password" required />    
        <button>Sign Up</button>
    </form>
</body>
</html>